* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  * {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
}

.body {
  display: grid;
  grid-template-columns: 15vw 2fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.bordered {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.full-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1 {
  background: lightyellow;
  padding: 20px;
}

.section-2 {
  background: lightblue;
  display: grid;
  align-items: center;
  grid-template-columns: auto 225px;
  padding: 20px;
  min-height: 120px;
}

.button {
  background: white;
  padding: 10px 20px;
  font-weight: bold;
  width: 225px;
  text-align: center;
}

.middle-row {
  display: grid;
  grid-template-columns: 1fr auto;
}

.middle-left {
  display: grid;
  grid-template-rows: auto 1fr;
}

.section-3 {
  background: lightgreen;
  min-height: 60px;
  padding: 20px;
  justify-content: flex-end;
  text-align: end;
}

.section-5 {
  background: white;
  display: flex;
  align-items: center;
}
.section-5 .main-content {
  padding: 20px;
}

.section-4 {
  background: lightgreen;
  max-width: 15vw;
}

.section-6 {
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  min-height: 120px;
  gap: 20px;
  grid-column: 1 / -1;
}

@media (max-width: 600px) {
  .body {
    grid-template-columns: 30vw auto;
  }

  .button {
    width: 120px;
  }

  .section-2 {
    grid-template-columns: auto 120px;
  }

  .section-4 {
    min-width: 120px;
  }

  .button {
    padding: 5px 15px;
  }

  .section-1 {
    padding: 15px;
  }

  .section-2,
  .section-6 {
    padding: 15px;
  }
}

.content,
.header-content,
.sidebar-content,
.footer-content {
  text-align: center;
  line-height: 1.5;
}
.footer-content {
  width: fit-content;
}

.right-column {
  display: grid;
  grid-template-rows: auto 1fr;
}
